ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f7f7f7;
}

li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

li div {
  flex: 1;
}

h2,
p {
  margin: 0;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #3e8e41;
}

.player {
  align-items: center;
  justify-content: center;
}